/* base style */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif; font-size: 16px;
}

a{text-decoration: none;}

h1,h2.h3,h4,h5,p {color: #444444;}

h1{
    font-size: 70px;
    font-weight: 500;
    margin-top: 4%;
}


/* .big-text{font-size: 70px; font-weight: 900;}
.mid-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;} */

.intro-text{text-transform: uppercase; font-size: 30px; font-weight: bold;}

.button{
    padding: 18px 28px;
    background:  #ffffff23;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    border: white 2px solid;
    margin-top: 10px;
    width: 40%;
}

.button:hover{
    transform: scale(1.1);
}


/* clearfix */
.group:after {
    content: "";
    display: table;
    clear: both;
}


/* header */
.header{
    width:100%;
    position: fixed;
    top:0;  
    left:50%;
    transform: translateX(-50%);
    padding: 30px;
    display: flex;
    background-color: #444444;
    /* max-width: 1350px; */
    z-index: 5;
    height: 110px;
}

.menu{
    width: 100%;
    transition: 0.5s ;
    margin-left: 2%;
}

.menu :hover{
    transform: scale(1.1);
}

.menu li{display:inline-block ;}
.menu li a{color: #fff; padding: 15px; display: block; ;}


/* hero */
.hero{
    height: 600px;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,0.9)), url('foto/bocce.jpg ') no-repeat center center;
    background-size: cover;
}


.hero__content{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
}


.hero__content h1,
.hero__content p{color: #fff;}


.nostrologo{
    text-align: end;
}


/* immagini a scorimento */
.scorrimento{
    margin: 0;
    padding: 0;
    /* height: 600px; */
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(199, 199, 199);
    position: relative;
    overflow: hidden;
    
}

.scorrimento__testo{
    z-index: 4;
    position: absolute;
    text-align: center;
}
.scorrimento__testo h1{
    color: white;
}
.scorrimento__testo img{
    height: 75%;
    width: 75%;
}

.slider{
    width: 100%;
    /* margin-top: 4%; */
    /* height: 600px; */
    /* border-radius: 10px; */
    overflow: hidden;
    /* position: absolute; */
}

.slides{
    width: 500%;
    /* height: 500px; */
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: auto;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 15%;
    margin-left: 23%;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;  
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    margin-left: 23%;
    justify-content: center;
    margin-top: 46%;
}

.navigation-auto div{
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}


#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgba(0, 0, 0, 0);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgba(0, 0, 0, 0);
}



/* blocchi numeri/statistiche */
.blocchi{
    background-color: rgba(194, 194, 194, 0.5);
    max-width: 100vw;
}

.dati{
    /* background-color: #fff; */
    float: left;
    /* padding: 1%; */
    padding: auto;
    width: 25%;
    text-align: center;
    /* border: 3px solid black; */
    /* border-radius: 20px; */
}

.sottocaselle{
    margin-top: 3%;
    margin-bottom: 5%;
}

.colornum{
    color: #1b98e0;
}



/* Mappa */
.mappa{
    margin-top: 7%;
    text-align: center;
    padding: 2%;
}

.mappasfondo{
    background-color:white;
}

.menumappa{
    width: 100%;
}

.menumappa li{display:inline-block ;}
.menumappa li a{color: white; padding: 15px; display: block; ;}


.hedermappa{

    width:100%;
    position: fixed;
    top:0;  
    left:50%;
    transform: translateX(-50%);
    padding: 30px;
    display: flex;
    /* max-width: 1350px; */
    background-color: #444444;
}





/*seconda pagina*/
/*box prodotti*/
.prodotti{
    margin-top: 110px;
    text-align: center;
    padding: 5%;
}

.prodotto{
    border: 2px solid #444444;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    height: 475px;
    background-color: #444444;
    text-align: center;
    width: 403px;
    margin-bottom: 5%;
    margin-right: 3.8%;
    float: left;
    transition: 2s;
}


.nomi-alcol{
    padding-top: 5%;
    font-family: "Varela Round", sans-serif; 
    font-size: 25px;
    color: white;
}

.prodotti img{
    height: 400px;
    width: 400px;
}



/*animazioni prodotti*/
.immagineprodotti{
    display: block;
}

.textprodotti{
    display: none;
    background-color:  #444444;
    color: rgba(255, 255, 255, 0.705);
    font-size: x-large;
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-family: "Padauk", sans-serif;
}

.prodotto:hover > .immagineprodotti{
    display: none;
}

.prodotto:hover > .textprodotti{
    display: block;
}

.scorrimento2{
    margin-top: 5%;
    padding: 5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}



/*finale pagine*/ 
.finale{
    background-color: #444444;
    padding-left: 25px;
    padding-right: 25px;
}

.finale1{
    float: left;
    width: 450px;
    height: 300px;
    text-align: left;
    color: white;
    padding: 15px;
    margin-right: 30px;
}

.finale2{
    float: left;
    width: 450px;
    height: 300px;
    color: white;
    text-align: left;
    padding: 15px;
    margin-right: 30px;
} 
.finale2 li{
    margin-bottom: 9%;
}

.textfinale{
    color: #DDDDDD;
    font-size: 30px;
    font-family: "Montserrat", sans-serif; 
    margin-bottom: 20px;
    height: 40px;
    margin-top: 35px;
}


/*bottone cerca*/
.search-total{
    float: left;
    height: 300px;
    width: 450px;
    padding: 15px;
}

div.search-box{
    /* position: absolute; */
    width: 250px;
    height: 30px;
    display: inline;
    text-align: left;
}

input.search{
    position: relative;
    display: inline;
    height: 30px;
    width: calc(80% - 40px);
    max-width: 500px;
    border-radius: 10px;
    border: none;
    padding: 0px 15px 0px 15px;
}

input.search:focus{
    outline: none;
}

.fa-search{
    color: black;
}





/*terza pagina*/
.storia{
    margin-top: 7%;
    padding: 5%;
}


.storia :hover{
    
}

.stofoto{
    height: 500px;
    width: 50%;
    float: left;
}

.titolo2{
    margin-bottom: 4%;
    color: #316bff;
    font-size: 40px;
}

.text2{
    height: 500px;
    width: 50%;
    float: left;
    padding: 5%;
    text-align: left;
}

.futuro{
    text-align: center;
}

.futuro img{
    height: 600px;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,0.9)), url('foto/fururo.jpg ') no-repeat center center;
    background-size: cover;
}

/*prof*/
.margin-top-menu{
    margin-top: 110px;
}
.padding-top-menu{
    padding-top: 110px;
}


/*media query*/
@media (max-width: 750px){
    .dati{
        width: 100%;
    }
}

@media (max-width: 1300px){
    .dati{
        width: 50%;
    }
}

@media (max-width: 1000px){
    .finale1{
        width: 100%;
        text-align: center;
    }

    .finale2{
        width: 100%;
        text-align: center;
    }

    .search-total{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 985px){
    .prodotto img{
       text-align: center;
    }

    .prodotto{
       text-align: center;
    }
}


/*hamburger*/
.hamburger{
    display: none;

}

@media (max-width: 768px){
    .hamburger{
        display: block;
        width: 50px;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
    }

    .hamburger span{
        width: 100%;
        height: 5px;
        border-radius: 8px;
        background-color: white;
        display: block;
        margin-bottom: 10px;
    }
    .hamburger span:last-child {
        margin-bottom: 0;
    }

    .nostrologo{
        display: none;
    }

    .menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110px;
        transform: translateX(200%);
        background: rgba(0, 0, 0, 0.521);
    }

    
}


.menu--open{
    display: block;
    transform: translateX(-2%);
}



