/* base style */
body{
    font-family: 'Inter', sans-serif; font-size: 16px;
}

a{text-decoration: none;}

h1,h2.h3,h4,h5,p {color: #444444;}

h1{
    font-size: 70px;
    font-weight: 500;
    margin-top: 4%;
}


/* .big-text{font-size: 70px; font-weight: 900;}
.mid-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;} */

.intro-text{text-transform: uppercase; font-size: 30px; font-weight: bold;}


.button{padding: 18px 28px; background: #316bff; color: #fff; display: inline-block; border-radius: 4px;}


/* clearfix */
.group:after {
    content: "";
    display: table;
    clear: both;
}


/* heder */
.heder{

    width:100%;
    position: fixed;
    top:0;  
    left:50%;
    transform: translateX(-50%);
    padding: 30px;
    display: flex;
    background-color: #444444;
    /* max-width: 1350px; */
}

.logo{}

.menu{
    width: 100%;
}

.menu li{display:inline-block ;}
.menu li a{color: #fff; padding: 15px; display: block; ;}

.cta{}




/* hero */
.hero{
    height: 600px;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,0.9)), url('foto/bocce.jpg ') no-repeat center center;
    background-size: cover;
}


.hero__content{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
}


.hero__content h1,
.hero__content p{color: #fff;}



/* home */

.blocchi{
    background-color: rgb(199, 199, 199);

}
.dati{
    /* background-color: #fff; */
    float: left;
    /* padding: 1%; */
    padding: auto;
    width: 22.5%;
    text-align: center;
    /* border: 3px solid black; */
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    /* border-radius: 20px; */
}

.sottocaselle{
    margin-top: 3%;
    margin-bottom: 5%;

}


.colornum{
    color: #1b98e0;
}



/* Mappa */

.mappa{
    margin-top: 7%;
    text-align: center;
    padding: 2%;
}

.mappasfondo{
    background-color:white;
}

.menumappa{
    width: 100%;
}

.menumappa li{display:inline-block ;}
.menumappa li a{color: white; padding: 15px; display: block; ;}



.hedermappa{

    width:100%;
    position: fixed;
    top:0;  
    left:50%;
    transform: translateX(-50%);
    padding: 30px;
    display: flex;
    /* max-width: 1350px; */

    background-color: #444444;
}







/* immagini a scorimento */
.scorrimento{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;  
}


#radio3:checked ~ .first{
    margin-left: -40%;
}


#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}


#radio1:checked ~ .navigation-auto .auto-btn1{
    background: black;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: black;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: black;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: black;
}



.prodotti{
    margin-top: 5%;
    text-align: center;
    padding: 5%;

}

.prodotto{
    border: 2px solid red;
    padding-top: 50px;
    height: 500px;
    text-align: center;
    width: 33%;
    float: left;
    margin-bottom: 5%;
}


.nomi-alcol{
    color: black;
    font-family: "Varela Round", sans-serif; 
    font-size: 25px;
}































*{
    box-sizing: border-box;
}